nav{
    height: auto;
    padding: 5px;
    background-color:rgb(14, 13, 13);
    
}

img{
    width: 10%;
    margin: 5px 5px;
}

.boutonNavBar{
    float: right;
    margin: 40px;
    
 
    
}
.bouton{
    margin: 10 10px;
    color:white;
}
main{
    background-color: rgb(168, 15, 15);
    padding: 10px;
    color:rgb(255, 255, 255);
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 0;
    padding-top: 20px;
    
   
}

.todolist{
    height: 250px;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 5;
    align-items: center;
    justify-content: center;
    
    
}
.todolistDiv{
    align-items: center;
    justify-content: center;
    margin-top: 10px;
       
}

footer{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}